/*=====================================================================*/
/* Widget Categories */
/*=====================================================================*/
.category-widget li:hover, .category-widget li.uk-active {
    background: #fbfbfb;
}
.category-widget .uk-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .2s ease-in-out;
}
.category-widget .uk-nav-default>li:not(:first-child), 
.category-widget .uk-nav-default>:not(:first-child)>li, 
.category-widget .uk-nav-default>:first-child>li:not(:first-child) {
    border-top: 1px solid #f5f5f5;
}
.category-widget .uk-nav-default>li>a {
    font-size: 1.2rem;
}
.category-widget .uk-nav-sub a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.category-widget.uk-card-small.uk-card-body {
    padding-top: 0;
    padding-bottom: 0;
}
@media (max-width: 1200px) {
    .category-widget .uk-nav-default>li>a {
        font-size: 0.875rem;
    }
    .category-widget .uk-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
/*=====================================================================*/
/* Lightbox */
/*=====================================================================*/
.uk-lightbox {
    background: #fff;
}
.uk-lightbox-toolbar {
    background: rgba(0,0,0,0.3);
    color: rgba(0, 0, 0, 0.93);
}
.uk-lightbox-toolbar-icon {
    padding: 5px;
    color: rgba(31, 31, 31, 0.7);
}
.uk-lightbox-toolbar>* {
    color: rgba(0, 0, 0, 0.7);
}
.uk-lightbox-toolbar-icon:hover {
    color: #000;
}
.uk-lightbox-button {
    background: rgba(228, 228, 228, 0.3);
    color: rgba(31, 31, 31, 0.7);
}
.uk-lightbox-button:hover {
    color: #000;
}
/*=====================================================================*/
/* Scrollbar */
/*=====================================================================*/
.product-item ::-webkit-scrollbar {
    width: 5px;
}
.product-item ::-webkit-scrollbar-track {
    background: transparent;
}
.product-item ::-webkit-scrollbar-thumb {
    background: #ccc;
}
.product-item ::-webkit-scrollbar-thumb:hover {
    background: #888;
}
/*=====================================================================*/
.button-color {
    display: inline-block;
    margin-right: 3px;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.button-color:hover,
.button-color:focus {
    border-color: #b2b2b2;
}
.button-color.active {
    border-color: #6d6d6d;
}
.button-color>span {
    width: 25px;
    height: 25px;
    display: block;
}
.product-price-new {
    font-size: 24px;
}
.product-modifications .uk-button-small {
    padding: 0 7px;
}
.catalog-product .product-item .product-heading {
    font-size: inherit;
}
.catalog-product .product-price-new {
    font-size: 2rem;
    line-height: 1.1;
}
.catalog-product .product-item .uk-button {
    padding: 0 10px;
}
.catalog-product .product-item .uk-button-small {
    padding: 0 5px;
    line-height: 24px;
}
@media (min-width: 960px) {
    .tm-width-medium {
        max-width: 250px;
        border-right: 1px solid #e5e5e5;
        height: 100%;
    }
}
.catalog-product .uk-table-small td,
.catalog-product .uk-table-small th {
    padding-top: 0;
    padding-bottom: 0;
}
.product-price-new,
.product-price-old {
    white-space: nowrap;
}
/* product card */
.product-item .product-name {
    max-height: 60px;
    overflow: hidden;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.product-item .product-description {
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #999;
    height: 130px;
    overflow: hidden;
}
.product-item>div>:not(.uk-first-column) {
    border-left: 1px solid #e5e5e5;
}
.product-item .product-image img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    padding: 15px;
}
.product-item .product-price,
.product-item .product-info {
    padding: 20px 20px;
}
.product-item {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.product-characteristics {
    font-size: 0.9rem;
    color: #999;
    margin-top: 15px;
}
.product-characteristics span {
    color: #333;
}
.product-item .product-image,
.product-item .product-misc {
    overflow: hidden;
    position: relative;
}
.product-items.block .product-image {
    height: 250px;
}
.product-items.list .product-image,
.product-items.list .product-misc {
    height: 100%;
}
.product-item .product-info {
    height: 200px;
    overflow: hidden;
}
.product-item .product-actions {
    padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
}
.product-items.list .product-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}